<ng-template appPlaceholder></ng-template>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">

    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [hidden]="isLoading" (ngSubmit)="onSubmit()" #profileForm="ngForm">

      <div class="form-group">
        <label for="organization-name">Полное наименование образовательной организации</label>
        <p>(в соответствии с Уставом)</p>
        <input
          type="text"
          id="organization-name"
          class="form-control"
          ngModel
          name="organization-name"
          required
        >
      </div>

      <div class="form-group">
        <label for="organization-federal-district">Федеральный округ Российской Федерации</label>
        <select
          name="organization-federal-district"
          id="organization-federal-district"
          ngModel
          class="form-control"
          required
          #district
          (change)="onChangeDistrict(district.value)"
        >
          <option *ngFor="let district of federalDistricts"
                  [value]="district">{{district}}</option>
        </select>

      </div>

      <div class="form-group">
        <label for="organization-federal-subject">Субъект Российской Федерации</label>
        <select
          name="organization-federal-subject"
          id="organization-federal-subject"
          ngModel
          class="form-control"
          required>
          <option *ngFor="let subject of federalSubjects"
                  [value]="subject">{{subject}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="organization-address">Адрес расположения</label>
        <p>(со всеми зданиями и филиалами)</p>
        <input
          type="text"
          id="organization-address"
          class="form-control"
          ngModel
          name="organization-address"
          required
        >
      </div>

      <div class="form-group">
        <label for="person-name">ФИО ответственного лица за заполнение данной формы</label>
        <input
          type="text"
          id="person-name"
          class="form-control"
          ngModel
          name="person-name"
          required
        >
      </div>

      <div class="form-group">
        <label for="person-phone">Контактный номер телефона ответственного лица</label>
        <input
          type="text"
          id="person-phone"
          class="form-control"
          ngModel
          name="person-phone"
          required
        >
      </div>

      <div class="form-group">
        <label for="email">Адрес электронной почты ответственного лица</label>
        <input
          type="text"
          id="email"
          class="form-control"
          ngModel
          name="email"
          disabled="true"
          email>
      </div>

      <div>
        <button class="btn btn-primary"
                [disabled]="profileForm.invalid"
                type="submit">
          {{ 'Сохранить' }}
        </button>
        <button class="btn btn-warning"
                type="button"
                (click)="onCancel()">
          {{ 'Отмена' }}
        </button>
      </div>
    </form>
  </div>
</div>
